CountyRules.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Webconfigs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Config">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" name="Position">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="xCoord" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="yCoord" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="starttime" type="xs:string" use="required" />
            <xs:attribute name="checksperday" type="xs:string" use="required" />
            <xs:attribute name="username" type="xs:string" use="required" />
            <xs:attribute name="password" type="xs:string" use="required" />
            <xs:attribute name="priority" type="xs:string" use="required" />
            <xs:attribute name="interval" type="xs:string" use="required" />
            <xs:attribute name="daysback" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>